<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Gallery</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="navbar">
      <ul>
        <li><a href="./home">Home</a></li>
        <li><a href="./about">About</a></li>
        <li><a href="./gallery">Gallery</a></li>
      </ul>
    </div>
    <div>
      <h1 class="galleryText">Gallery</h1>
      <div class="galleryPics">
        <img src="/images/photo1.jpeg" alt="1" />
        <img src="/images/photo2.jpeg" alt="2" />
        <a href="https://www.google.com">
          <img src="/images/photo3.jpeg" alt="3" />
        </a>
      </div>
      <div class="galleryPics2">
        <img src="/images/photo1.jpeg" alt="1" />
        <img src="/images/photo2.jpeg" alt="2" />
        <img src="/images/photo3.jpeg" alt="3" />
      </div>
    </div>
    <script src="/gallery.js"></script>
  </body>
</html>
